* {
  box-sizing: border-box;
}

:root {
}

html {
  direction: ltr;
  font-size: 20px;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*...................................................................................................... Alle main sytles */

main {
  position: relative;
  width: 50vmin;
  height: 50vmin;
  _border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  position: absolute;
}

.ball {
  width: 8vmin;
  height: 8vmin;
  border-radius: 50%;
  background-color: rgb(90, 11, 192);
  transition: transform 0.6s;
}

.arrows {
  font-size: 3rem;
  padding: 8vmin;
}

.left {
  transform: translateX(-100%);
}

.top {
  transform: translateY(-100%);
}

.right {
  transform: translateX(100%);
}

.buttom {
  transform: translateY(100%);
}

.left:hover ~ .ball {
  transform: translateX(-200%);
}

.top:hover ~ .ball {
  transform: translateY(-200%);
}

.right:hover ~ .ball {
  transform: translateX(200%);
}

.buttom:hover ~ .ball {
  transform: translateY(200%);
}
