* {
  box-sizing: border-box;
}

:root {
}

html {
  direction: ltr;
  font-size: 20px;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*...................................................................................................... Alle main sytles */

main {
  position: relative;
  _border: 3px solid black;
  width: 60vh;
  height: 60vh;
}

div:last-child {
  width: 3rem;
  height: 3rem;
  background-color: rgb(70, 27, 226);
  border-radius: 50%;
}

.left {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: -15%;
  transform: translateY(-50%);
  padding: 3rem;
}

.top {
  font-size: 4rem;
  position: absolute;
  top: -13%;
  left: 50%;
  transform: translateX(-50%);
  padding: 3rem;
}

.right {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 115%;
  transform: translate(-100%, -50%);
  padding: 3rem;
}

.buttom {
  font-size: 4rem;
  position: absolute;
  top: 114%;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 3rem;
}

.ball {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: left, 0.55s;
  transition: top, 0.55s;
  transition: left, 0.55s;
  transition: top, 0.55s;
}

.left:hover ~ .ball {
  left: 25%;
}

.top:hover ~ .ball {
  top: 25%;
}

.right:hover ~ .ball {
  left: 75%;
}

.buttom:hover ~ .ball {
  top: 75%;
}

/* Füge media queries ein, S.15 unten*/
